/* ||SITEWIDE */
* {
    font-family: "Rimouski";    
}



body {
  background-color: #ff9d00;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23ff9d00' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23fa8c1a' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23f37c27' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23eb6d30' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23e05f38' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23d4523d' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23c64742' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23b83c45' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23a83346' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23972c47' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23862646' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23742143' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%23631c3f' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%2352183a' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23411434' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%2331102c' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%23230b23' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%2317001a' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
    
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap');

#header-title {
  padding: 20px!important;
  font-size: 2em!important;
  background: -webkit-linear-gradient(rgb(92, 204, 248), rgb(39, 148, 199));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900!important;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
  
}

.topnav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 10px;
  margin-left: 10px;
  background-color: #FFF;
  opacity: 0.75;
  font-size: 1.3em;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 50%), 10px 6px 20px 0 rgb(0 0 0 / 30%);
  flex-wrap: wrap;
  width: 80%;
}

.topnav:hover {
  text-decoration: none;
}

a {
    text-decoration: none!important;
    color: #293251!important;
    overflow: hidden;
    transition: 0.3s;    
    padding: 1.2em;    
    font-weight: 300;
       
    text-transform:uppercase;
    color: rgb(64, 65, 68);
    font-size: 18px;
    text-decoration: none;
    display: block;  
}

a:hover {    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.1);
    color: rgba(0, 35, 122, 0.7);  
}

#weatherapp {
  text-align: center;
    margin-right: 3em;
    padding: 15px;
    font-size: 25px;
}
/* ||BUTTONS AND UTILITIES */
.convertButton { 
  width: 175px;
  height: 40px;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid white;
  padding: 10px;    
  box-sizing: border-box;
  text-decoration:none;        
  color:#FFFFFF;
  background-color:#13a755;
  letter-spacing: 0.5px;    
  transition: all 0.2s;
  cursor: pointer;
  border-radius: 5px;  
}

.convertButton:hover {
    background-color:#118344;
    border: 1px solid rgb(180, 180, 180);
}

.convertButton:active {
    background-color:#16be62;
}

.forecast {
    margin-left:12px;
    margin-top: 10px;
    width: 400px;
    text-align: left;            
}

/* ||TABLES & CONTAINERS */

.weather-data {
    border-collapse: collapse;
    padding:5px;  
    margin-top: 50px;
    background-color: #FFF;
    opacity: 0.75;
    border: 2px solid black!important;    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 10px 6px 20px 0 rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;   
}
.weather-data th {   
    padding:5px;
    background: #FFF;
    border: 2px solid black!important;
    border-radius: 2%; 
}
.weather-data td {
    border:2px solid black;
    padding:5px;
  
    border-radius: 2%; 
}

.currentlocation {
  margin-top: 40px;
  margin-bottom: 40px;
  height: 60px;
  padding: 10px;
  background-color: rgba(86, 193, 255, 0.856);
  opacity: 0.80;
  border: 2px solid black;
  overflow: visible;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 50%), 10px 6px 20px 0 rgb(0 0 0 / 30%);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 70%;
}

#rowOne{
    width: 200px;    
}
#rowTwo{
    padding: 10px;
} 

#temperature {
    margin-top: 20px;
    padding: 10px;
    font-size: 1.75em
}

.collapsible {
    background-color: #FFF!important;    
    cursor: pointer;
    height: 50px;
    width: 70%;
    border: 2px solid black!important;
    border-radius: 5px;
    opacity: 0.75!important;
    font-size: 1em!important;
    margin-top: 50px;
    text-align: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 10px 6px 20px 0 rgba(0, 0, 0, 0.3);    
  }
  
  .active, .collapsible:hover {
    background-color: rgba(86, 193, 255, 0.856)!important;
  }
  
  .table-head {   
    border-collapse: collapse;   
    background-color: #cccccc;
    opacity: 0.85;
    text-align: center;    
    border: 2px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 10px 6px 20px 0 rgba(0, 0, 0, 0.3);
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
  }

  .table-body {
    background-color: #FFF!important;
    opacity: 1!important;      
    width: 1140px;    
    margin: 0px auto 50px auto!important;
    border: 2px solid black!important;
    border-radius: 5px!important;
       
  }

  table, th, td {
    border: 1px solid black!important;
    padding: 10px;    
    border-collapse: collapse;
}  

  .content {    
    display: none;        
    max-height: 0;
    transition: max-height .5s ease-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 1px 6px 20px 0 rgba(0, 0, 0, 0.3);
    overflow: hidden;
    margin-bottom: 50px;
  }

  .innertext {
    border: 1px solid black;
    padding: 5px;
  }

  .hourlyweather-iconOne {
    width: 40px;
    margin-left: 40px;    
    text-align: center;
  }
  
  #text-description {
    text-align: center;        
    margin-top: -30px;
}

.time {
    width: 195px!important;
    padding: 5px;
    text-align: left;
  }


.colorRowOne:hover {
    background-color: rgba(204, 191, 191, 0.801)!important;     
}
.colorRowOne {
  border: 1px solid black!important;
  
}

.hourlyweather-iconOne {
  margin-right: 210px!important;
}

#time {
  border-left: 2px solid black!important;
}

#wind {
  border-right: 2px solid black!important;
  
}



